<header>
    
  
  <div class="navbar navbar-dark" >
      <div class="navbar-brand align-item-center d-flex">
          <h1><strong style="color: crimson;font-family: cursive;font-size: 60px;">LAPTECH<i class="fas fa-laptop"></i></strong></h1>&nbsp;&nbsp;
          <div class="form-group">
            
          </div>
          
      </div>
          <div>
            <div routerLink="/" style="font-size: 20px;" class="badge ">Home</div>&nbsp;&nbsp;
              <div routerLink="/signup" style="font-size: 20px;" class="badge ">Sign up</div>&nbsp;
              <div routerLink="/laptop" style="font-size: 20px;" class=" badge ">laptops</div>
             
      </div>
      <div>
          <button class="btn btn-primary" routerLink="/cart">cart
          <i style="font:size 30px" class="fas fa-cart-plus"></i>
      </button>
        </div>
      
  </div>
  
 <p></p>
  </header>

  