
<div >
    

<div class="container">
    <div class="destination">
        <img src="../../assets/samsung 8.jpg">
        
        </div>
 
        <div class="destination-details">
         <h2>hii.....!!!</h2>
         <h3>Welcome to LAPTECH</h3>
         <h4>we provide you the latest laptops coming in market</h4>
   
      </div>
</div>

<section>
    
    <main>
      <div class="destination">
        <img src="../../assets/hp 1.webp">
        <div class="destination-details">
          
          <h3>Gaming Laptop</h3>  
          <p>Playing Games..</p>      
        </div>
      </div>
      <div class="destination">
          <img src="../../assets/lg 7.jpg">
          <div class="destination-details">
              <h3>commercial laptop</h3> 
              <p>For Business..</p>           
           
          </div>
        </div>
        <div class="destination">
          <img src="../../assets/infinix 6.jpg">
          <div class="destination-details">
              <h3>Normal laptop</h3>
           <p>For students..</p>
          </div>
        </div>
    </main>

    
        <section>
            <div class="about" >
              <img src="../../assets/apple 3.jpg">
              <div class="about-text">
                  <h3>About Us</h3><br><br>
                  <p style="color:#278d72 ; font-size: larger;"><b>Laptop Store</b></p>
                  <p style="font-size: 22px;  color: #4a5568;">
                    When Technology is most important in life ...........!</p>
              </div>
              <img src="../../assets/background.jpg">
          </div>
          </section>
          </section>
        </div>